/*** General ***/

body {
  color: #5A5B5B;
}

/*** navbar ***/

.navbar-triptailor {
  background: #4A5667;
}

/*** Header ***/
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #EDF2F5;
}
.header-title {
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
}
.hostel-address {
  font-color: #333333;
}
.currency {
  font-size: 14px;
  vertical-align: top;
}
.book-span {
  margin-left: 25px;
}
.book-link {
  border-radius: 5px;
  background-color: #f66a52;
  color: white;
  width: 120px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

/*** Main Content ***/

.content {
  padding-top: 25px;
  padding-bottom: 150px;
}

/*** Photos ***/

.main-photo {
  height: 410px;
  background: #EDF2F5;
  border: 1px solid #DBDFE5;
}

/*** Description ***/

.description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}
.description-label {
  margin-bottom: 25px;
}

/*** Tags ***/

.tags {
  margin-top: 30px;
}
.tags-label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
.tag {
  cursor: pointer;
}

/*** Reviews ***/

.reviews {
  margin-top: 50px;
}
.reviews-label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}
.reviews-copy {
  margin-bottom: 15px;
}
.review {
  padding: 25px 0;
  border-top: 1px solid #DBDFE5;
}
