/*** General ***/

body {
  color: #5A5B5B;
}

/*** navbar ***/

.navbar-triptailor {
  background: #4A5667;
}

/*** Header ***/

/* Basic */
.header {
  background: #EDF2F5;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-label {
  margin-bottom: 15px;
  font-size: 12px;
}
/* Search */
.location-input, .autocomplete-tags-container {
  border: 1px solid #DBDFE5;
  margin-bottom: 25px;
}
.location-input:focus {
  border: 1px solid #DBDFE5;
}
.location-input {
  margin-bottom: 25px;
}
.autocomplete-tags-container {
  height: 40px;
  border-right: 1px solid #DBDFE5;
}
.tag-search-container {
  border-spacing: 10px 4px;
}


/*** Results ***/

/* Filters */
.filter {
  padding: 25px 0;
}
.filter-label {
  margin-bottom: 25px;
}
.tags-hint {
  border-top: 1px solid #DBDFE5;
  border-bottom: 1px solid #DBDFE5;
}
.fa-rocket {
  margin-right: 10px; 
}
.tag-also {
  cursor: pointer;
}
/* Hostels */
.content {
  padding-bottom: 120px;
}
.results-number {
  margin: 25px 0;
}
.spinner {
  margin-top: 25px;
  text-align: center;
}
.result {
  border: 1px solid #DBDFE5;
  padding: 25px;
  padding-right: 15px;
  margin-bottom: 40px;
}
.result-a:link, .result-a:visited, .result-a:hover, .result-a:active {
  color: inherit;
  text-decoration: none;
}
.result-name {
  padding-bottom: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #DBDFE5;
}
.result-price {
  font-size: 16px;
  float: right;
}
.result-photo {
  height: 360px;
}
.info {
  background: #dbdfe5;
  color: #637079;
  padding: 7px 10px;
  border-radius: 3px;
  display: block;
}
.result-tags {
  padding-top: 10px;
  padding-bottom: 15px;
  overflow: hidden;
}
.more-results {
  border: none;
  outline: none;
  width: 100%;
  margin-top: 40px;
  border-radius: 5px;
  height: 40px;
  background-color: #f66a52;
  padding: 10px 12px;
  color: white;
  line-height: 20px;
  display: block;
  text-align: center;
  margin-top: 35px;
}

@media (min-width: 992px) {
  .tags-hint {
    border-bottom: 0;
  }
}
