body {
	color: #5A5B5B;
}

.navbar-triptailor {
	background: #4A5667;
}

.header {
	background: #EDF2F5;
	padding-top: 25px;
	padding-bottom: 25px;
}
.header-label {
	margin-bottom: 15px;
	font-size: 12px;
}
.inline-input-left, .autocomplete-tags-container {
	border-top: 1px solid #DBDFE5;
	border-bottom: 1px solid #DBDFE5;
	border-left: 1px solid #DBDFE5;
}
.inline-input-left:focus {
	border-top: 1px solid #DBDFE5;
	border-bottom: 1px solid #DBDFE5;
	border-left: 1px solid #DBDFE5;
}
.autocomplete-tags-container {
	height: 40px;
	border-right: 1px solid #DBDFE5;
}
.tag-search-container {
	display: table;
	width: 100%;
	border-spacing: 10px 4px;
	padding: 0 5px;
}
.also {
	margin-top: 25px;
}
.submit-col {
	text-align: center;
}
.submit {
	margin-top: 35px;
}

.content {
	padding-bottom: 120px;
}
.results-number {
	margin: 25px 0;
}
.result {
	border: 1px solid #DBDFE5;
	padding: 0 15px;
	margin-bottom: 40px;
}
.result-a {
	color: inherit;
}
.result-a:link, .result-a:visited, .result-a:hover, .result-a:active {
	color: inherit;
	text-decoration: none;
}
.result-name, .result-price {
	border-bottom: 1px solid #DBDFE5;
}
.result-name {
	padding-top: 25px;
	padding-bottom: 15px;
}
.result-price {
	padding: 15px 0;
	font-size: 12px;
}
.result-tags {
	padding-top: 15px;
	margin-bottom: 5px;
	max-height: 95px;
	overflow: hidden;
}
.tag {
	color: white;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px 10px;
	border-radius: 3px;
}
.tag-selected {
	background: #5C87D1;
}
.tag-unselected {
	background: #637079;
}
