#topbar {
	width: 100%;
	background-color: #183152;
	border-bottom: 1px solid #ABC8E2;
	text-align: center;
	padding: 4% 0;
}
#location {
	color: white;
}
#topbar form {
	margin-left: 10%;
	width: 80%;
}
input {
	margin-top: 2%;
}
input[type=text] {
	height: 30px;
	display: block;
	width: 95%;
}
input[type=submit] {
	height: 32px;
}

.hostel-entry {
	margin-bottom: 50px;
	box-shadow: 0 3px 8px #333;
	padding: 30px;
}
.hostel-entry h1 {
	margin: 0;
	margin-bottom: 5%;
}
.hostel-entry span {
	display: inline-block;
	border-radius: 4px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: white;
}
.shared {
	background-color: #ABC8E2;
}
.unique {
	background-color: #92E29A;
}
.price {
	margin-top: 5%;
}
.book {
	background-color: #D47200;
}
.price h3 {
	color: #666;
	margin-top: 0;
}
.center-vertical {
	transform: none;
}

.addthis_sharing_toolbox {
	padding: 25px 0;
	margin-left: 7%;
}

@media (min-width: 475px) {
	.hostel-entry {
		width: 400px;
		margin: 0 auto;
		margin-bottom: 50px;
		min-height: 225px;
	}
}
@media (min-width: 700px) {
	#topbar {
		position: fixed;
		width: 100%;
		height: 60px;
		top: 0;
		text-align: right;
		padding: 0;
	}
	#topbar h4 {
		margin: 0;
		margin-left: 7%;
		float: left;
	}
	#topbar #location {
		margin-right: 7%;
	}
	#topbar form {
		margin-left: 35%;
		text-align: right;
		margin-right: 7%;
		width: auto;
	}
	input {
		margin: 0;
	}
	input[type=text] {
		width: 30%;
		display: inline-block;
	}

	#container {
		margin-top: 61px;
	}

	.center-vertical {
		transform: translateY(-50%);
	}
}
@media (min-width: 935px) {
	#container {
		width: 100%;
	}
	.hostel-entry {
		display: inline-block;
		margin: 0;
		margin-bottom: 50px;
		vertical-align: top;
	}
	.price h3 {
		float: right;
	}
}
@media (min-width: 1035px) {
	.left {
		margin-right: 5%;
	}
}
@media (min-width: 1135px) {
	.left {
		margin-right: 10%;
	}
}
@media (min-width: 1150px) {
	#container {
		width: 80%;
		margin: 0 auto;
		margin-top: 61px;
	}
}