@(ch: ClassifiedHostel)(implicit req: RequestHeader)

@main("TripTailor Hostels") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/detail.css")">
  <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
} {
    <script>
      var hostel = {
        name: "@ch.hostel.name",
        url: "@ch.hostel.url"
      };
      console.log("@ch.orderedTags");
    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/components/detail.js")"></script>
}
