@(ch: ClassifiedHostel, hostelImageUrls: Seq[String], json: play.api.libs.json.JsValue)(implicit req: RequestHeader)

@main("TripTailor Hostels") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/detail.css")">
  <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
} {
  <script id="hostel-data" type="application/json">
    @play.twirl.api.HtmlFormat.raw(json.toString)
  </script>
  <script>
    var hostel = JSON.parse($('#hostel-data').html());
  </script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/components/detail.js")"></script>
}
