@(locationOpt: Option[models.Location])(implicit req: RequestHeader)

@main("TripTailor Hostels") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/hostels.css")">
} {
  <script type="text/javascript">
    @locationOpt.fold {
      var city    = undefined;
      var country = undefined;
    } { location =>
      var city    = "@location.city";
      var country = "@location.country";
    }
  </script>
	<div id="content"></div>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/components/hostels.js")"></script>
}
