@()(implicit req: RequestHeader)

@main("TripTailor Hostels") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("jquery-ui/jquery-ui.min.css")">
} {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/components/index.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("jquery-ui/jquery-ui.min.js")"></script>
}
