@(title: String)(extraStylesheets: Html)(content: Html)(implicit req: RequestHeader)

<!DOCTYPE html lang="en">

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>@title</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/general.css")">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
        @extraStylesheets
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
    </head>
    <body>
        <!--JS Reverse routing-->
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.ApplicationController.index,
            routes.javascript.ApplicationController.howItWorks,
            routes.javascript.HintsController.hostelHints,
            routes.javascript.HintsController.tagSuggestions,
            routes.javascript.SearchController.search,
            routes.javascript.SearchController.classify,
            routes.javascript.SearchController.displayAll
        )

        <!-- Addthis -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520ea186234cadc3" async="async"></script>
        <script type="text/jsx" src="@routes.Assets.at("javascripts/components.js")"></script>

        @content

        <script src="https://fb.me/react-0.13.3.js"></script>
        <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/helper.js")"></script>
    </body>
</html>
